#navigationBanner ul {
	background-color: grey;
	list-style-type: none; /*removes bullet points*/
	overflow: hidden; /*overflow is clipped, but content is visible*/
	padding: 0;
	margin: 0;
}

#navigationBanner a {
	color: white;
	text-decoration: none; /*gets rid of the underline*/
	text-align: center;
	display: block; /*display element as a block*/
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 16px;
	padding-left: 16px;
}

#navigationBanner a:hover {
	color: black;
	background-color: dimgrey;
}

#navigationBanner li {
	float: left; /*append list items to the left*/
}

#titleBanner {
	color: green;
	background-color: lightgreen;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.galleryOfLinkBoxes {
	padding: 30px; /*all four sides are padded which distances neighboring galleries from one another*/
	float: left;
}

.linkBoxes {
	border: 1px solid grey;
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.linkBoxes h3 {
	text-align: center;
}

.linkBoxes img {
	width: 75%; /*sets image width to fill the container*/
	height: auto; /*default height*/
	text-align: center;

	display: block; /*these 3 lines used to center the images inside each gallery*/
	margin-left: auto;
	margin-right: auto;
}

.linkBoxes p {
	padding: 0px;
	text-align: center;
}

.linkBoxes:hover {
	border: 1px solid black;
}

.bottomBanner {
	padding-top: 715px; /*FIX maybe: hard-coded value */
	padding-bottom: 0px;
}

.bottomBanner h6 {
	background-color: orange;
	overflow: hidden; /*overflow is clipped, but content is visible*/
	padding: 20px;
	bottom: 0;
	width: 100%;
}





#sectionTitle {
	font-size: 30px;
}

#subTitle {
	font-size: 20px;
}

.row {
	display: flex;
}

.column {
	flex: 33.33%;
	padding: 5px;
}

img {
	max-width: 300px;
	max-height: 200px;
}