/* Used in the Website Banner for all pages */

#navigationBanner ul {
	background-color: grey;
	list-style-type: none;	/*removes bullet points*/
	overflow: hidden;		/*overflow is clipped, but content is visible*/
	padding: 0;
	margin: 0;
}

#navigationBanner a {
	color: white;
	text-decoration: none;	/*gets rid of the underline*/
	text-align: center;
	display: block;			/*display element as a block*/
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 16px;
	padding-left: 16px;
}

#navigationBanner a:hover {
	color: black;
	background-color: dimgrey;
}

#navigationBanner li {
	float: left;			/*append list items to the left*/
}

#titleBanner {
	background-color: lightgreen;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

/*  Used in about.html */

#sectionTitle {
	font-size: 30px;
}

#subTitle {
	font-size: 20px;
}

/* Used in guide.html */
.row {
	display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

img {
    max-width: 300px;
    max-height: 200px;
}
